#title {
  color: #954535;
  font-size: 250%;
  font-family: cursive;
}

body {
  text-align: center;
  font-family: arial;
}

#ingred1 {
  color: red;
}
#ingred2 {
  color: green;
}
#ingred3 {
  color: blue;
}
#ingred4 {
  color: yellow;
}
#ingred5 {
  color: black;
}
#ingred6 {
  color: orange;
}
#ingred7 {
  color: purple;
}
#ingred8 {
  color: #812c23;
}
#ingred9 {
  color: #03c990;
}
#ingred10 {
  color: #9e42b8;
}
#ingred11 {
  color: #3f1607;
}
